javascript:
  $(document).ready(function(){
  $("#content").load("/new_domain").one();
    $('li[id="domain"]').click(function(){
      var Domain = $(this).attr('domain');
      console.log("mail list item clicked");
      $("#content").load("/domain?domain=" +Domain, function(){
        $('#domain_modal').modal('show');
        console.log("domains content loaded");
        console.log(Domain);
      });
    });
    $('li[id^="mail"]').click(function(){
      var Mailaddress = $(this).attr('mailaddress');
      console.log("mail list item clicked");
      $("#loadmail").load("/mail?mailaddress=" + Mailaddress, function(){
        console.log("mail content loaded");
        console.log(Mailaddress);
      });
    });
  });

- unless @domains.blank?
  .dropdown
    button.btn.btn-primary.dropdown-toggle data-toggle="dropdown" Domains
      <span class="caret"></span></button>
    ul.dropdown-menu
      - @domains.each do |domain|
        li(id="domain", domain=domain.domain): a href="#" #{domain.domain}
      li(id="newdomain"): a data-toggle="modal" data-target="#new_domain_modal" href="#" Add new domain  
- else
  p No domains for the user #{@name}

div.modal.fade id="mail_modal" role="dialog"
  div.modal-dialog
    div.modal-content
      div.modal-header
        button type="button" class="close" data-dismiss="modal" &times
        h2 email account settings
      div.modal-body
        p(id="loadmail")
